<!DOCTYPE html>
{% extends 'MyTemp/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>Welcome to Home Page</h1>
    <h2>You can do many things here....</h2>
    <h3>Instructions:</h3>
    <h4>click on Add product to check whether you are getting not found page or success page.</h4>
    <h4>If you are getting not found page then go to 127.0.0.1:8000/admin and login and click on add product page.</h4>
    <h4>If you are going to add product page means you are already logged in, so django allowed it to go to the page.</h4>
</div>
{% endblock %}